<%= turbo_frame_tag 'modal' do %>
  <%= render 'shared/modal' do %>
    <h2 class="title-h2"><%= t('.title') %></h2>
    <%= form_with(url: '/users/settings', method: :patch, class: 'max-w-[600px] w-[300px]') do |form| %>

      <div class="form-item">
        <%= form.label 'setting[keybind]', t('.keybind'), class: "form-label" %><br />
        <%= form.select 'setting[keybind]', Users::Setting.keybinds_for_select, selected: current_user.setting&.keybind %>
      </div>

      <%= form.submit "保存",
        class: "btn-primary w-full",
        data: {
          test_id: 'submit'
        }
      %>
    <% end %>
  <% end %>
<% end %>
