<%= form_with(model: post, data: { controller: "editor-markdown" } ) do |form| %>
  <div class="form-item">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-input-text" %>
  </div>

  <div class="form-item">
    <%= form.label :body %>
    <%= form.hidden_field :body, data: { editor_markdown_target: 'dest' } %>
    <div
        class="w-full h-[calc(100dvh_-_400px)] [&_.cm-editor]:h-full"
        data-editor-markdown-target="code"
        data-test-id="code"
    ></div>
  </div>

  <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer", data: { test_id: 'submit' } %>
<% end %>
