<%= form_with(model: [post.user, post], data: { controller: "editor-markdown" } ) do |form| %>
  <meta name="keybind" content="<%= current_user.setting&.keybind || Users::Setting.new.keybind%>" data-editor-markdown-target="keybind">
  <div class="flex justify-between items-center">
    <div class="flex items-center mb-1 h-[80px]">
      <div class="flex flex-col gap-2">
        <%= form.label :title, class: "hidden" %>
        <%= form.text_field :title, placeholder: t('activerecord.attributes.post.title'), class: "inline-block form-input-text py-1 px-2 mr-4 max-w-full w-[600px]" %>
        <div data-controller="tag-editors" class="relative text-sm max-w-full w-[600px]">
          <div data-tag-editors-target="highlight" class="absolute top-0 inline-block w-full p-1 ml-[4px] text-transparent overflow-hidden"></div>
          <%= form.text_field :tags,
            value: post.tags.map(&:name).join(' '),
            placeholder: t('.tag_placeholder'),
            data: {
              tag_editors_target: 'input',
              action: 'input->tag-editors#updateOutput'
            },
            class: 'relative inline-block form-input-text !text-sm bg-transparent py-1 px-2 mr-4'
          %>
        </div>
      </div>

      <div data-controller="active-storage-preview" class="shrink-0">
        <%= form.label :thumbnail, class: "cursor-pointer w-12 h-10" do %>
          <% if post.thumbnail.attached? %>
            <%= image_tag post.thumbnail, "data-active-storage-preview-target": "preview", class: 'ml-2 w-16 h-10 object-cover' %>
          <% else %>
            <div data-active-storage-preview-target="label" class="flex flex-col items-center border border-dotted rounded-lg ml-2 p-1">
              <span class="text-[9px]"><%= t('.thumbnail') %></span>
              <%= image_tag '/images/image.svg', class: 'w-6 h-6' %>
            </div>
            <img data-active-storage-preview-target='preview' class="hidden ml-2 w-16 h-10 object-cover">
          <% end %>
        <% end %>
        <%= form.file_field :thumbnail,
          data: {active_storage_preview_target: "file" },
          class: "hidden"
        %>
      </div>
      <div class="ml-8 flex flex-col shrink-0 text-sm gap-1">
        <div>
          <%= form.radio_button :published, true, checked: post.published %>
          <%= form.label :published, t('.published_true'), value: true %>
        </div>
        <div>
          <%= form.radio_button :published, false, checked: !post.published %>
          <%= form.label :published, t('.published_false'), value: false %>
        </div>
      </div>
    </div>
    <%= form.submit class: "btn-primary py-2", data: { test_id: 'submit' } %>
  </div>

  <div class="flex">
    <div class="w-1/2">
      <%= form.hidden_field :body, data: { editor_markdown_target: 'dest' } %>
      <div id="editor-toolbar" class="flex justify-between h-[32px] border">
        <div class="flex gap-2 items-center pl-2">
          <% buttons = %w[undo redo bold italic strikethrough quote link code] %>
          <% buttons.each do | button| %>
            <button type="button" data-test-id="<%= button %>-button" data-action="editor-markdown#<%= button%>">
              <%= image_tag "/images/#{button}.svg",
                class: 'cursor-pointer object-fit h-[16px]'
              %>
            </button>
          <% end %>
          <!--
          <input
            id="markdown-image"
            type="file"
            class="hidden"
            data-action="change->editor-markdown#image"
          >
          <label for="markdown-image">
            <%= image_tag '/images/image.svg',
              class: 'cursor-pointer object-fit h-[16px]'
            %>
          </label>
          -->
        </div>
        <div class="flex gap-2 items-center pr-2">
          <!--
          <%= image_tag '/images/fullscreen.svg',
            class: 'cursor-pointer object-fit h-[16px]'
          %>
          -->
        </div>
      </div>
      <div
        class="w-full h-[calc(100dvh_-_192px)] [&_.cm-editor]:h-full"
        data-editor-markdown-target="code"
        data-test-id="code"
      ></div>
    </div>
    <div class="h-[calc(100dvh_-_160px)] w-1/2 border">
      <div
        id="preview"
        data-controller="render-markdown"
        data-editor-markdown-target="preview"
        data-render-markdown-body-value="<%= @post.body %>"
        data-test-id="preview"
        class="w-full h-full overflow-y-scroll"
      >
    </div>
  </div>
<% end %>
