<article id="<%= dom_id post %>" class="relative border shadow rounded w-[300px] h-[280px]">
  <%= link_to post do %>
    <div class="h-[158px] w-[300px] flex justify-center items-center mb-2">
      <% if post.thumbnail.attached? %>
        <%= image_tag post.thumbnail, class: 'w-full h-full object-cover' %>
      <% else %>
        <p class="bg-white bg-opacity-70 font-bold">
        <%= post.title %>
        </p>
      <% end %>
    </div>
    <p class="px-2 text-lg leading-normal overflow-hidden mb-2"><%= post.title %></p>
    <p class="absolute bottom-2 left-2">@<%= post.user.username %></p>
    <time class="absolute bottom-2 right-2 text-sm text-gray-500"><%= post.published_at && post.published_at.strftime('%Y/%m/%d %H:%m') %></time>
  <% end %>
</article>
