<%= link_to user_post_path(post.user, post), data: { turbo_frame: '_top' } do %>
  <article id="<%= dom_id post %>" class="relative border shadow rounded w-[300px] h-[280px]">
    <div class="h-[158px] w-[300px] flex justify-center items-center mb-2">
      <% if post.thumbnail.attached? %>
        <%= image_tag post.thumbnail, class: 'w-full h-full object-cover' %>
      <% else %>
        <% thumbnail = thumbnails.sample %>
        <%= picture_tag do %>
          <%= tag.source srcset: url_for(thumbnail.image.variant(:webp)), type: 'image/webp' %>
          <%= image_tag thumbnail.image %>
        <% end %>
        <p class="absolute bg-white bg-opacity-80 font-bold py-2 px-8 rounded">
        <%= post.tags.first.name %>
        </p>
      <% end %>
    </div>
    <p class="text-lg font-bold text-gray-700 leading-normal overflow-hidden px-2 mb-2"><%= post.title %></p>
    <%= render "tags/tags", tags: post.tags %>
    <p class="absolute bottom-2 left-2">
      <%= link_to user_path(post.user), data: { turbo_frame: '_top'} do %>
        @<%= post.user.username %>
      <% end %>
    </p>
    <time class="absolute bottom-2 right-2 text-sm text-gray-500"><%= post.published_at && post.published_at.strftime('%Y/%m/%d %H:%m') %></time>
  </article>
<% end %>
