<div class="flex max-w-[1440px] mx-auto gap-4 mt-4">
  <article class="w-[70%] h-full">
    <div class="flex justify-between mb-8">
      <h1 class="title-h1"><%= @post.title %></h1>
      <div class="flex flex-col">
        <div class="flex gap-4">
          <%= link_to edit_user_post_path(@post.user, @post) do %>
            <%= image_tag '/images/pencil.svg', class: 'w-6 h-6' %>
          <% end %>
          <%= button_to user_post_path(@post.user, @post), method: :delete, form: { data: { turbo_confirm: t('.confirm_delete') } }, data: { test_id: 'delete-post' }  do %>
            <%= image_tag '/images/garbage.svg', class: 'w-6 h-6' %>
          <% end %>
          <span>@<%= @post.user.username %></span>
        </div>
        <% if @post.published_at.nil? %>
          <p><%= t('.draft') %></p>
        <% else %>
          <p><time><%= t('.published_at', date: @post.published_at.strftime('%Y/%m/%d %H:%M')) %></time></p>
        <% end %>
        <%# TODO: Edited date %>
        <%# TODO: SNS Links %>
      </div>
    </div>
    <div
      id="preview"
      data-controller="render-markdown"
      data-render-markdown-body-value="<%= @post.body %>"
      class="w-full h-full"
    >
    </div>
  </article>
  <aside class="w-[30%]">
    <%# TODO: Sidebar content %>
  </aside>
</div>
