<header class="flex justify-between items-center w-full p-2 text-white bg-primary">
  <%= link_to root_path do %>
    <span class="text-3xl font-bold">Abillyz</span>
  <% end %>
  <nav>
    <ul class="flex gap-4">
      <% if user_signed_in? %>
        <% if controller.controller_name != 'posts' %>
          <li>
            <%= link_to t('.new_post'), new_user_post_path(current_user), data: { test_id: 'new-post' }, class: 'btn-primary py-2' %>
          </li>
        <% end %>
        <div data-controller="toggle" class="relative flex items-center">
          <%= button_tag type: 'button',
            data: {
              action: 'click->toggle#click',
              test_id: 'account',
              toggle_target: 'button'
            },
            class: "mr-3" do %>
            <div class="w-7 h-7 lg:w-8 lg:h-8 bg-white rounded-full overflow-hidden">
            <% if current_user.icon.attached? %>
              <%= image_tag current_user.icon,
                class: 'w-full h-full object-cover'
              %>
            <% else %>
              <%= image_tag "/images/people.svg",
                class: 'w-full h-full object-cover'
              %>
            <% end %>
            </div>
          <% end %>
          <ul
            data-toggle-target="menu"
            class="absolute z-30 right-0 top-10 bg-white shadow-lg h-auto border hidden text-left w-max rounded-lg text-black"
          >
            <li>
              <%= link_to t('.profile'),
                user_path(current_user),
                class: "inline-block w-full py-2 pl-4 pr-8",
                data: { test_id: 'profile' }
              %>
            </li>
            <li>
              <%= link_to t('.settings'),
                edit_users_settings_path(),
                class: "inline-block w-full py-2 pl-4 pr-8",
                data: {
                  turbo_frame: 'modal',
                  action: 'click->toggle#click',
                  test_id: 'settings'
                }
              %>
            </li>
            <hr>
            <li>
              <%= link_to t('.signout'),
                destroy_user_session_path,
                class: "inline-block w-full py-2 pl-4 pr-8",
                data: { "turbo-method": :delete, test_id: 'signout' }
              %>
            </li>
          </ul>
        </div>
        <% else %>
        <li>
          <%= link_to t('.signin'), new_user_session_path, data: { "turbo-frame": false, test_id: 'signin' } %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
